In [2]:
Heterogeneous_list= [2, 1.2, 'Karan', [1,2,3]]
Heterogeneous_list[3][1:4]

[2, 3]

In [3]:
lst= [1,2,3,4,5,6,7,8,9,'Hello', [1,2,3]]
lst

[1, 2, 3, 4, 5, 6, 7, 8, 9, 'Hello', [1, 2, 3]]

In [8]:
lst= [1,2,3,4,5,6,7,8,9,'Hello', [1,2,3]]
for i in lst:
    print(i)

1
2
3
4
5
6
7
8
9
Hello
[1, 2, 3]

In [9]:
fruit= ['Apple', 'Mango', 'Grapes', 'Banana']
for i in fruit:
    print(i)

Apple
Mango
Grapes
Banana

In [10]:
lst[10][1:4]

[2, 3]

In [11]:
cars= ['Tesla', 'BMW', 'Mercedes', 'Audi', 'Toyota', 'Honda', 'Ford']
cars[-2:]

['Honda', 'Ford']

In [12]:
universities= ['Harvad', 'MIT', 'Stanford', 'Cambridge', 'Oxford', 'Caltech', 'Imeprial', 'UChicago']
universities[:4]

['Harvad', 'MIT', 'Stanford', 'Cambridge']

In [14]:
list= [[1,2,3],[4,5,6],[7,8,9]]
for i in list:
    for j in i:
        print(j, end=' ')
    print('\n')

1 2 3

4 5 6

7 8 9

In [15]:
for i in list:
    for j in i:
        print(j, end=' ')
        print('\n')

1

2

3

4

5

6

7

8

9

In [16]:
for i in list:
    print(i,'\n')

[1, 2, 3]

[4, 5, 6]

[7, 8, 9]

In [22]:
cars= ['Tesla', 'BMW', 'Mercedes', 'Audi', 'Toyota', 'Honda', 'Ford']
cars.insert(3, "RR")

In [23]:
cars

['Tesla', 'BMW', 'Mercedes', 'RR', 'Audi', 'Toyota', 'Honda', 'Ford']

In [24]:
name= ['Karan', 'Karan Das']
lol=[1,2,3]
name.extend(lol)
name

['Karan', 'Karan Das', 1, 2, 3]

In [25]:
fruit= ['apple', 'banana', 'grapes', 'pineapple', 'papaya']
fruit.remove('banana')
fruit

['apple', 'grapes', 'pineapple', 'papaya']

In [26]:
fruit.pop(2)
fruit

['apple', 'grapes', 'papaya']

In [27]:
fruit.pop()
fruit

['apple', 'grapes']

In [28]:
fruit.pop(-2)
fruit

['grapes']

In [29]:
a=['kela', 'seb', 'Kiwi']
fruit.extend(a)
fruit

['grapes', 'kela', 'seb', 'Kiwi']

In [30]:
fruit.index('kela')

1

In [32]:
fruit.count('kela')

1

In [33]:
for i in fruit:
    print(fruit.count(i))

1
1
1
1

In [35]:
for i in fruit:
    print(fruit.count(i),i)

1 grapes
1 kela
1 seb
1 Kiwi

In [38]:
lisst=[1,2,3,4,5,6,7,8,9]
lisst.sort()
lisst

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [40]:
lisst=[1,2,3,4,5,6,7,8,9]
lisst.sort(reverse= True)
lisst

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [41]:
task= ['wake up', 'brush teeth', 'go for a run', 'start working']
task.insert(2, 'Have Breakfast')
task

['wake up', 'brush teeth', 'Have Breakfast', 'go for a run', 'start working']

In [45]:
number=[1,2,3,4]
number[::-1]

[4, 3, 2, 1]

number.reverse() #is also use for reverse the list

In [47]:
fruits= ['Apple', 'Banana', 'Cherry', 'Date']
fruits.pop(2)

'Cherry'

In [50]:
fruits.remove('Date')

In [51]:
fruits

['Apple', 'Banana']

In [52]:
fruits.index('Banana')

1

In [1]:
a=int(input(" "))
b=input(' ')
c= int(input(' '))
d=input(' ')
list=[a,b,c,d]
print(list)

  14444444
  Apple
  6767676767
  QWE

[14444444, 'Apple', 6767676767, 'QWE']

In [3]:
list.index('QWE')

3

In [4]:
list.pop(2)

6767676767

In [5]:
list[2]

'QWE'

In [6]:
lsst=[12,23,34,45]
list.extend(lsst)

In [7]:
list

[14444444, 'Apple', 'QWE', 12, 23, 34, 45]

In [8]:
list.remove(12)

In [9]:
list

[14444444, 'Apple', 'QWE', 23, 34, 45]

In [11]:
list.sort(reverse = True)

TypeError: '<' not supported between instances of 'str' and 'int'

In [1]:
a=int(input('enter the no.'))
if a>=90 :
    print('A')
elif a>=80:
    print('B')
else:
    print('C')

enter the no. 100

A

In [10]:
b=int(input('enter the no.'))
lit=[]
for i in range(1,b):
    if b%i==0:
        lit.append(i)
if b==sum(lit):
    print('this  is perfect no.')
else:
    print('this is not the perfect no.')

enter the no. 4

this is not the perfect no.

In [6]:
lit

[1, 2, 3, 4, 5]

In [8]:
lit

[1, 2, 3]

In [16]:
v=int(input('enter the no.'))
x=1
for i in range(1,v+1):
    x*=i
print(x)

enter the no. 6

720

In [5]:
fruit=['apple','banana','grapes']
if 'gum' in fruit:
    print('yes')
elif 'apple' in fruit:
    print(fruit)
else :
    print('thhis is not a fruit')

['apple', 'banana', 'grapes']

In [1]:
#Dictionary
grocery=  {'Dailtitem':['Milk','Flour','Salt'] ,'Electroni':['Iron', 'Fan', 'Switch'], 'Vehicle': ['Car', 'Bike']}
grocery

{'Dailtitem': ['Milk', 'Flour', 'Salt'],
 'Electroni': ['Iron', 'Fan', 'Switch'],
 'Vehicle': ['Car', 'Bike']}

In [3]:
import seaborn as sns
df= sns.load_dataset('glue')
df.head(10)

         Model  Year      Encoder   Task  Score
0        ERNIE  2019  Transformer   CoLA   75.5
1           T5  2019  Transformer   CoLA   71.6
2      RoBERTa  2019  Transformer   CoLA   67.8
3         BERT  2018  Transformer   CoLA   60.5
4  BiLSTM+ELMo  2018         LSTM   CoLA   32.1
5  BiLSTM+CoVe  2017         LSTM   CoLA   18.5
6  BiLSTM+Attn  2017         LSTM   CoLA   18.6
7       BiLSTM  2017         LSTM   CoLA   11.6
8        ERNIE  2019  Transformer  SST-2   97.8
9           T5  2019  Transformer  SST-2   97.5

In [4]:
grocery['Fruit']=('Apple','Grapes') #Adding element
grocery

{'Dailtitem': ['Milk', 'Flour', 'Salt'],
 'Electroni': ['Iron', 'Fan', 'Switch'],
 'Vehicle': ['Car', 'Bike'],
 'Fruit': ('Apple', 'Grapes')}

In [6]:
grocery['Vehicle'] = 'Aditya' #update
grocery

{'Dailtitem': ['Milk', 'Flour', 'Salt'],
 'Electroni': ['Iron', 'Fan', 'Switch'],
 'Vehicle': 'Aditya',
 'Fruit': ('Apple', 'Grapes')}

In [13]:
for i in grocery:
    print(i)

Dailtitem
Electroni
Vehicle
Fruit

In [16]:
grocery.keys()

dict_keys(['Dailtitem', 'Electroni', 'Vehicle', 'Fruit'])

In [17]:
grocery.values()

dict_values([['Milk', 'Flour', 'Salt'], ['Iron', 'Fan', 'Switch'], 'Aditya', ('Apple', 'Grapes')])

In [18]:
grocery.get('Dailtitem')

['Milk', 'Flour', 'Salt']

In [19]:
for i in grocery:
    print(grocery[i])

['Milk', 'Flour', 'Salt']
['Iron', 'Fan', 'Switch']
Aditya
('Apple', 'Grapes')

In [20]:
for i in grocery.values():
    print(i)

['Milk', 'Flour', 'Salt']
['Iron', 'Fan', 'Switch']
Aditya
('Apple', 'Grapes')

In [21]:
for i in grocery.keys():
    print(i)

Dailtitem
Electroni
Vehicle
Fruit

In [22]:
for i in grocery.items():
    print(i)

('Dailtitem', ['Milk', 'Flour', 'Salt'])
('Electroni', ['Iron', 'Fan', 'Switch'])
('Vehicle', 'Aditya')
('Fruit', ('Apple', 'Grapes'))

In [23]:
grocery.items()

dict_items([('Dailtitem', ['Milk', 'Flour', 'Salt']), ('Electroni', ['Iron', 'Fan', 'Switch']), ('Vehicle', 'Aditya'), ('Fruit', ('Apple', 'Grapes'))])

In [25]:
for i,j in grocery.items():
    print(f'{i}:{j}')

Dailtitem:['Milk', 'Flour', 'Salt']
Electroni:['Iron', 'Fan', 'Switch']
Vehicle:Aditya
Fruit:('Apple', 'Grapes')

In [1]:
#Lamda
x= lambda a, b : a*b
print(x(2,3))

6

In [3]:
#map
Fruits = ['apple', 'banana', 'fruits']
res = map(str.upper, Fruits)
print(list(res))

['APPLE', 'BANANA', 'FRUITS']

In [4]:
num= [1,2,3,4,5]
square= map(pow,num,[2]*len(num))
print(list(square))

[1, 4, 9, 16, 25]

In [5]:
double = map(lambda x: x*2, num)
print(list(double))

[2, 4, 6, 8, 10]

In [ ]:
a=['hello', 'how', 'are',

In [9]:
#How to make Calculator using Lambda Fuction
operator=input("enter operation to be perform 1.Add/n 2.substract/n 3.multiplication/n 4. ")
a=int(input(' enter the no.'))
b=int(input(' enter the no.'))
if operator =="Add":
    x= lambda a,b : a+b
    print(x(a,b))
elif operator =="substract":
    x= lambda a,b: a-b
    print(x(a,b))
elif operator == "multiplication":
    x= lambda a,b: a*b
    print(x(a,b))
else:
    x= lambda a,b: a/b
    print(x(a,b))

enter operation to be perform 1.Add/n 2.substract/n 3.multiplication/n 4.  Add
 enter the no. 34
 enter the no. 44

78

In [22]:
#Filter
a=[" Aditya ", 'Tiwari', " Anmol", " Srivastava ", "Yash", " Shukla "]
b= filter( lambda c: len(c)>6,a)
print(list(b))

[' Aditya ', ' Srivastava ', ' Shukla ']

In [19]:
#Filter
no= [10, 20, 35,56]
result= filter(lambda x: x%2==0, no)
print(list(result))

[10, 20, 56]

In [23]:
N = [10, -3, -45, 20, 55, -4555]
v=filter(lambda f: f<0, N)
print(list(v))

[-3, -45, -4555]

In [25]:
#With no Parameter no return value
#User Dwfined Function 
def ur():
    print(" Chal be Chutiye")
ur()

 Chal be Chutiye

In [26]:
#With Parameter no return value
#function for Add
def add(a,b):
    a=int(input(' '))
    b=int(input(' '))
    c= a+b
    print(c)
add(a,b)

  34
  2

36

In [31]:
#function for Division
def did(a,b):
    a=int(input(' '))
    b=int(input(' '))
    d= a/b
    print(d)
did(a,b)

  44
  11

4.0

In [32]:
#With Parameter and return value
#fuction for multiplication
def mul(a,b):
    a=int(input(' '))
    b=int(input(' '))
    g=a*b
    return g
mul(a,b)

  5
  4

20

In [33]:
#To find Area of circle
def area(a):
    a=int(input(' '))
    h=(22/7)*(a**2)
    return h
area(a)

  3

28.285714285714285

In [34]:
#No parametr but with return value
def sub():
    return 33
pi= sub()
print(pi)

33

In [35]:
#Farenhite to Celcius
def con(a):
    a=int(input(' '))
    t= a/32
    return t
con(a)

  32

1.0

In [36]:
#Celcius to Farenhite
def non(b):
    b=int(input(' '))
    u= b*32
    return u
non(b)

  45

1440

In [ ]:
# If we take user input outside the def function then it is use in all codes and if we take user input inside the def funtion it only for that code yhhis will not define in anyother program

In [38]:
#*args-- Variable Positional Arguments
#this is only use fpr making tuple value
c=int(input())
d=int(input())
v=int(input())
f=int(input())
def age(*args):
    print('args the tuple', args)
    return sum(args)
print(age(c,d,v,f))

 23
 33
 45
 56

args the tuple (23, 33, 45, 56)
157

In [40]:
v=int(input())
f=int(input())
def mul(*args):
    result= v
    for num in args:
        result *= num
    return result
print(mul(v,f))

 3
 4

36

In [4]:
class Car:
    def voice(self):
        return"Vrooooooooooooooom"
class supra(Car):
    def voice(self):
        return"Ratatatatatatat"
s= supra()
s.voice()

'Ratatatatatatat'

In [25]:
class Papa:
    def __init__(self, name):
        self.name = name
    def papaname(self):
        return f"Mein {self.name} aur ye mera pariavr hai "

class Mummy:
    def __init__(self, mothername):
        self.mothername = mothername
    def m(self):
        return f"Aur ye {self.mothername} meri patni hai"

class Beta(Papa, Mummy):
    def __init__(self, name, mothername, sonname):
        self.sonname = sonname
        # Call parent class constructors
        Papa.__init__(self, name)
        Mummy.__init__(self, mothername)
    def family(self):
        # Fixed method call from mothername() to m()
        return f"Mere family mein bas mera ek lauta beta hai {self.sonname}"

Parivar = Beta("Sonu", "Chotu ki Mummy", "Chotu")
print(Parivar.family(),Parivar.m(),Parivar.papaname())

Mere family mein bas mera ek lauta beta hai Chotu Aur ye Chotu ki Mummy meri patni hai Mein Sonu aur ye mera pariavr hai

In [31]:
class Animal:
    def __init__(self,name):
        self.name= name
    def eat(self):
        return f"{self.name} is eating"
class Mamal(Animal):
    def __init__(self,species,fur_color):
        super().__init__(species)
        self.fur_color= fur_color
    def breathe(self):
        return f"{self.fur_color} breathe air"
class Dog(Mamal):
    def __init__(self,species, fur_color,name):
        super().__init__(species,fur_color)
        self.name= name
    def bark(self):
        return f"{self.name}says Woof"
my_dog= Dog("Dog","White","Buddy")
print(my_dog.eat(),my_dog.breathe(),my_dog.bark())

Buddy is eating White breathe air Buddysays Woof

In [18]:
class Sname:
    def __init__(self,name):
        self.name =name
    def n(self):
        return f"The name of the student is {self.name} and"
class Students:
    def __init__(self,s_id):
        self.s_id= s_id
    def id(self):
        return f"his/her id is {self.s_id} and"
class Sdetail(Sname, Students):
    def __init__(self,name,s_id,details):
        self.details= details
        Sname.__init__(self,name)
        Students.__init__  (self,s_id)
    def d(self):
        return f"{self.n()}{self.id()} he/she is good in{self.details}"
D= Sdetail("Aditya",12516873,"Pyhton")
print(D.n(),D.id(),D.d())

The name of the student is Aditya and his/her id is 12516873 and The name of the student is Aditya andhis/her id is 12516873 and he/she is good inPyhton

In [12]:
class Father:
    def __init__(self,voice):
        self.voice= voice
    def speak(self):
        return f"{self.voice} makes a sound"
class Son(Father):
    def __init__(self,name):
        super().__init__("Son")
        self.name= name
    def wow(self):
        return f"{self.name} said wow"
class Daughter(Father):
    def __init__(self,name):
        super().__init__("Daughter")
        self.name= name
    def yee(self):
        return f"{self.name} says yeee"
S= Son("Athrav")
D= Daughter("Vanshika")
print(S.speak(),S.wow(),D.speak(),D.yee())

Son makes a sound Athrav said wow Daughter makes a sound Vanshika says yeee

In [16]:
class Sname:
    def __init__(self, name):
        self.name = name
    def n(self):
        # Changed from self.name() to self.name since name is an attribute, not a method
        return f"The name of the student is {self.name} and"

class Students:
    def __init__(self, s_id):
        self.s_id = s_id
    def id(self):
        # Changed from self.s_id() to self.s_id since s_id is an attribute, not a method
        return f"his/her id is {self.s_id} and"

class Sdetail(Sname, Students):
    def __init__(self, name, s_id, details):
        self.details = details
        # Added self as first parameter to parent class constructors
        Sname.__init__(self, name)
        Students.__init__(self, s_id)
    def d(self):
        return f"{self.n()}{self.id()} he/she is good in {self.details}"

D = Sdetail("Aditya", 12516873, "Python")
print(D.n(), D.id(), D.d())

The name of the student is Aditya and his/her id is 12516873 and The name of the student is Aditya andhis/her id is 12516873 and he/she is good in Python

In [ ]:
class Dada:
    def __init__(self,log):
        self.log =log
class Dadi:
    def __init__(self,parivar):
        self.parivar= parivar
class Papa(Dada):
class Mummy(Dada):
class Lala(Papa,Mummy):

In [21]:
class Calculator:
    def __init__(self,a,b):
        self.a= a
        self.b= b
    def add(self):
        return self.a+self.b
    def sub(self):
        return self.a-self.b
    def mul(self):
        return self.a*self.b
    def did(self):
        if self.b!=0:
            return self.a/self.b
        else:
            return"Not divisble bye Zero"
a=int(input("enter the for value of A"))
b=int(input("enter the for the value of B"))
cacl= Calculator(a,b)
print("Addition",cacl.add(),"Subs",cacl.sub(),"Mulltiplication",cacl.mul(),"Divide",cacl.did())

enter the for value of A 2
enter the for the value of B 1

Addition 3 Subs 1 Mulltiplication 2 Divide 2.0

In [ ]:
class PYclass:
    def __init__(self, value):
        self.value= value
    def

In [4]:
import numpy as np
x=[1,2,3,4,5]
arr = np.array(x)
print(arr)

[1 2 3 4 5]

In [ ]:
p= np.array([[2,8,9,5]]

In [5]:
arr_1d = np.array([1+3j,2,3,4,5,6])
arr_1d

array([1.+3.j, 2.+0.j, 3.+0.j, 4.+0.j, 5.+0.j, 6.+0.j])

In [6]:
arr_2d= np.array([[1,2,3,4,5,6],[10,20,30,40,50,60]])
arr_2d.shape
arr_2d

array([[ 1,  2,  3,  4,  5,  6],
       [10, 20, 30, 40, 50, 60]])

In [7]:
arr_1d.dtype

dtype('complex128')

In [8]:
arr_2d.dtype

dtype('int64')

In [11]:
arr_4d= np.array([[[1,2,3,4],[5,6,7,8]],[[10,20,30,40],[50,60,70,80]]])
arr_4d.shape
arr_4d

array([[[ 1,  2,  3,  4],
        [ 5,  6,  7,  8]],

       [[10, 20, 30, 40],
        [50, 60, 70, 80]]])

In [13]:
arr_d= np.array([1+4j,3,4,5])
arr_d

array([1.+4.j, 3.+0.j, 4.+0.j, 5.+0.j])

In [14]:
arr_d.itemsize

16

In [16]:
A = np.array([[1,2,],[3,4]])
print(np.transpose(A))

[[1 3]
 [2 4]]

In [22]:
#Logical Oprator
a1= np.array([1,2,3])
a2= np.array([4,5,6])
a1 | a2

array([5, 7, 7])

In [18]:
4| 2

6

In [24]:
a1= np.array([1,2,3])
a2= np.array([4,5,6])
a1^ a2

array([5, 7, 5])

In [26]:
a1= np.array([1,5,3])
a2= np.array([4,5,6])
(a1==a2)

array([False,  True, False])

In [27]:
a1*a2

array([ 4, 25, 18])

In [28]:
a1%a2

array([1, 0, 3])

In [29]:
a1//a2

array([0, 1, 0])

In [30]:
a1+a2

array([ 5, 10,  9])

In [31]:
a1-a2

array([-3,  0, -3])

In [32]:
a1+10

array([11, 15, 13])

In [33]:
a1-10

array([-9, -5, -7])

In [34]:
a1*10

array([10, 50, 30])

In [35]:
a1**10

array([      1, 9765625,   59049])

In [36]:
a1[0]

np.int64(1)

In [37]:
a1[0]=14

In [38]:
a1

array([14,  5,  3])

In [39]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [42]:
np_1 = np.arange(1,5)
np_1

array([1, 2, 3, 4])

In [43]:
np_2 = np.arange(5,10,50)
np_2

array([5])

In [44]:
np_5= np.linspace(0,10,5)
np_5

array([ 0. ,  2.5,  5. ,  7.5, 10. ])

In [47]:
arr0 = np.arange(1,11)
arr = np.insert(arr0,10,[11,12])
arr

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12])

In [48]:
arr.shape

(12,)

In [51]:
arr.reshape(3,4)

array([[ 1,  2,  3,  4],
       [ 5,  6,  7,  8],
       [ 9, 10, 11, 12]])

In [52]:
arr.reshape(4,3)

array([[ 1,  2,  3],
       [ 4,  5,  6],
       [ 7,  8,  9],
       [10, 11, 12]])

In [53]:
array = np.zeros((2,2,2))
array

array([[[0., 0.],
        [0., 0.]],

       [[0., 0.],
        [0., 0.]]])

In [54]:
np.eye(4, dtype = "int")

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [55]:
arr = np.arange(10).reshape(2,5)
print(arr)

[[0 1 2 3 4]
 [5 6 7 8 9]]

In [56]:
arr_0=np.arange(12).reshape(2,2,3)
print(arr_0)

[[[ 0  1  2]
  [ 3  4  5]]

 [[ 6  7  8]
  [ 9 10 11]]]

In [57]:
np.concatenate((arr,arr_0),axis= 1)

ValueError: all the input arrays must have same number of dimensions, but the array at index 0 has 2 dimension(s) and the array at index 1 has 3 dimension(s)

In [3]:
import numpy as np
A = np.array([[1,2,3],
              [4,5,6]])
B = np.array([[10,20,30],
              [40,50,60]])
print(f"Shape of A: {A.shape}")
print(f"Shape of B: {B.shape}")

Shape of A: (2, 3)
Shape of B: (2, 3)

In [11]:
sales= [{"day":"Mon", "amount":2500},
        {"day":"Tue", "amount":1600},
        {"day":"Wed", "amount":2200},
        {"day":"Thur", "amount":3000},
        {"day":"Fri", "amount":2800}]
a= sum(item['amount'] for item in sales)
print(a)

12100

In [13]:
avg = a / 5
print(avg)

2420.0

In [17]:
m= min(item['amount'] for item in sales)
m

1600

In [18]:
ma= max(item['amount'] for item in sales)
ma

3000

In [21]:
l1 = list(item['amount'] for item in sales)
l1

[2500, 1600, 2200, 3000, 2800]

In [22]:
 import numpy as ny
b= ny.array(l1)
b

array([2500, 1600, 2200, 3000, 2800])

In [23]:
print((b-m)/(ma-m))

[0.64285714 0.         0.42857143 1.         0.85714286]